<div class="header">
    <div class="logo">
        <a href="../index.html">Bsale - Test</a>
    </div>
    <div class="nav-link">
        <nav class="links">
            <a href="#">
                <i class="fa-solid fa-magnifying-glass"></i>
            </a>
            <a href="#">
                <i class="fa-solid fa-user"></i>
            </a>
            <a href="#">
                <i class="fa-solid fa-cart-shopping"></i>
            </a>
        </nav>
    </div>
</div>
<header>
    <ul class="nav">
        <li class="nav-items">
            <div class="dropdown-menu categories">
            </div>
        </li>
    </ul>
</header>
