/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* General */

:root{
    --color-a: ghostwhite;
    --color-productos: #04397A;
    --color-header: #044593;
    --color-btn: #032D60;
}

body{
    margin: 0;
    background-color: var(--color-a);
    font-family: 'Roboto Mono', sans-serif;
}

/* Header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    background-color: var(--color-header);
}

.nav-link nav{
    display: flex;
    justify-content: space-between;
}

.links a{
    margin-right: 100px;
}

.links .fa-solid{
    width: 40px;
    height: 37px;
    text-align: center;
}

.links a:hover{
    background-color: #F0B31D;
    border-radius: 50%;
    /* padding: 7px; */
}

.logo{
    margin-left: 50px;
    width: 200px;
}

.links a, .logo a{
    text-decoration: none;
    color: var(--color-a);
    font-size: 25px;
}

@media (max-width: 700px){
    header{
        flex-direction: column;
    }
}

/* Main */

main{
    /* padding-top: 4rem; */
    height: 100vh;
    width: 100vw;
}

.menu-de-productos{
    background-color: var(--color-productos);
}

.productos{
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
}

.productos a{
    text-decoration: none;
    color: var(--color-a);
}

.producto-btn{
    width: auto;
    height: auto;
    text-align: center;
}

.producto-btn:hover{
    background-color: var(--color-btn);
    border-radius: 5px;
}

.producto-title1{
    width: 100px;
}

.producto-title2, .producto-title6{
    width: 110px;
}

.producto-title3{
    width: 220px;
}

.producto-title4, .producto-title5{
    width: 140px;
}
/* Footer */

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-header);
    height: 50px;
    color: var(--color-a);
}