/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* General */

:root{
    --color-a: ghostwhite;
    --color-productos: #04397A;
    --color-header: #044593;
    --color-btn: #032D60;
}

body{
    margin: 0;
    background-color: var(--color-a);
    font-family: 'Roboto Mono', sans-serif;
}

ul {
    list-style: none;
}


/* Header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    background-color: var(--color-header);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    background-color: var(--color-header);
}

.nav-link nav{
    display: flex;
    justify-content: space-between;
}

.links a{
    margin-right: 100px;
}

.links .fa-solid{
    width: 40px;
    height: 37px;
    text-align: center;
}

.links a:hover{
    background-color: #F0B31D;
    border-radius: 50%;
    /* padding: 7px; */
}

.logo{
    margin-left: 50px;
    width: 200px;
}

.links a, .logo a{
    text-decoration: none;
    color: var(--color-a);
    font-size: 25px;
}

@media (max-width: 800px){
    header{
        flex-direction: column;
    }
}

.categories a{
    color: var(--color-a);
    text-decoration: none;
    margin-right: 50px;
    margin-left: 10px;
}
/* Main */

main{
    width: 100px;
    height: 100px;
}

.container .logo{
    width: 1450px;
    min-height: 100vh;
    align-items: center;
}

.row{
    width: 1000px;
}

.products{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    text-align: center;
    position: static;
}

.products img{
    width: 200px;
    height: 200px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 30px;
    text-align: center;
    transition: all 0.25s;
    background-color: #E5E9EA;
}

.col-md-3 a{
    text-align: center;
}

.col-md-3:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.products a{
    text-decoration: none;
    color: var(--color-productos);
    text-align: center;
}
/* Footer */

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-header);
    height: 60px;
    color: var(--color-a);
}